<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
  </head>
  <body>
    <!-- This is the nav bar HTML code including the menues and main title-->
    <mat-toolbar class="navbar">
      <div class="Border">
        <span
          ><i id="car" class="material-icons">directions_car</i>Ottopoint</span
        >
      </div>
      <div id="navbar-extras">
        <span mat-button
          ><i
            id="sidenav-toggle"
            class="material-icons"
            (click)="sidenav.toggle()"
          >
            menu
          </i>
        </span>
        <span class="name"
          ><button id="name" mat-button [matMenuTriggerFor]="menu">
            Marc Leese
          </button>
          <mat-menu #menu="matMenu">
            <!--This button when fully working would display the user details as well as an option to upgrade the account-->
            <button mat-menu-item>Account</button>
            <button mat-menu-item>Logout</button>
            <span id="credits" mat-menu-item>Credits: 0</span>
          </mat-menu></span
        >
      </div>
    </mat-toolbar>

    <!--The side bar HTML code including the content area linking it to the graphs-->
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        Ottocentre
        <div class="side">
          <ul>
            <li>
              <i id="setting" class="material-icons"> settings </i>Account
              Setting
            </li>
            <li>
              <i id="dashboard" class="material-icons">
                insert_chart_outlined </i
              >DashBoard
            </li>
            <li>
              <i id="offer" class="material-icons"> local_offer </i>Offers
            </li>
            <li>
              <i id="message" class="material-icons"> message </i>Messages
            </li>
          </ul>
        </div>
      </mat-sidenav>
      <mat-sidenav-content class="main">
        <mat-toolbar class="Header">
          <div id="graph">
            <i id="graph-image" class="material-icons"> insert_chart </i
            >DashBoard
          </div>
          <div>
            <div>
              <span
                ><button id="premium" disabled>
                  <!--The premium dashboard button disabled (this would be enabled when the account has been upgraded-->
                  <i class="material-icons"> lock </i>Premuim DashBoard
                </button></span
              >
            </div>
          </div>
        </mat-toolbar>
        <div id="charts">
          <span id="bar"><router-outlet></router-outlet></span>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </body>
</html>
